<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    /*<title>{{ page.title }}</title>*/
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="misc/assets/stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="misc/assets/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="misc/assets/stylesheets/github-light.css" media="screen">
  </head>
  <body>

    <section class="page-header">
      <h1 class="project-name">CYBR 8420 Software Assurance - Fall 2017</h1>
      <h2 class="project-tagline">Cyber Wardens Semester Project</h2>
      <h3 class="project-tagline">The University of Nebraska at Omaha</h3>
      <a href="https://daniellucier.github.io/CYBER8420-SemesterProject" class="btn">Project Proposal</a>
      <a href="https://daniellucier.github.io/CYBER8420-SemesterProject/misc/pages/AssuranceCases.html" class="btn">Assurance Cases</a>
      <a href="https://daniellucier.github.io/CYBER8420-SemesterProject/misc/pages/MisuseCases.html" class="btn">Misuse Cases</a>
      <a href="https://daniellucier.github.io/CYBER8420-SemesterProject/misc/pages/RequirementsReport.html" class="btn">Requirements Report</a>
      <a href="https://daniellucier.github.io/CYBER8420-SemesterProject/misc/pages/ThreatModels.html" class="btn">Threat Models</a>
      <a href="https://daniellucier.github.io/CYBER8420-SemesterProject/misc/pages/CodeAnalysis.html" class="btn">Code Analysis</a>
      /*<a href="https://github.com/DanielLucier/CYBER8420-SemesterProject.git" class="btn">Team Repo</a>*/
    </section>


    <section class="main-content">
      <div class="container">

  	{{ content }}

      </div><!-- /.container -->
      <footer class="site-footer">


      </footer>

    </section>


  </body>
</html>
